<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QiniuDownloadSDK-OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>QiniuDownloadSDK-OSXTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>QiniuDownloadSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>QiniuDownloadSDKTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BAF8E8E11BD4DD9A00F63299</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAF8E8F11BD4DDE400F63299</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAF8E9001BD4DE0C00F63299</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAF8E90D1BD4DE2000F63299</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
